@import url('https://fonts.googleapis.com/css2? family=Poppins&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}

body{
    background-color: rgba(255, 203, 240, 0.8);
}

.titulo{
    display: flex;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 350px;
    overflow: hidden;
    transition: all 200ms;
}

.videoT{
    display: flex;
    width: 100vw;
    height: 100%;
    overflow: hidden;
    align-items: center;
    justify-content: center;
}

.videoT video{
    width: 100vw;
}

.cortinaT{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 45%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.textoT h1{
    font-weight: bolder;
    font-size: 37px;
    text-transform: uppercase;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}

.Seccion_Menu .imagenes img{
    border: 4px #000 solid;
    cursor: pointer;
    margin: 5px;
    transition: all 400ms;
}

.Seccion_Menu .imagenes img:hover{
    transform: scale(0.9);
    border: 4px rgb(10, 196, 10) solid;
    transition: all 400ms;
}

.imagenes{
    width: 100%;
    padding: 20px 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#Caja:checked ~ .titulo{
    display: none;
}

#Caja:checked ~ .Seccion_Menu{
    display: none;
}

/*Tarjetas*/

.contenedor__tarjeta{
    position: relative;
    max-width: 1500px;
    padding: 50px;
    display: grid;
    grid-template-columns: repeat(3,0.5fr);
    justify-content: center;
}

.tarjeta , .tarjeta2, .tarjeta3 , .tarjeta4{ 
    width: 360px;
    height: 530px; /*Distancia vertical entre las tarjetas*/
    margin: 10px;
    transition: all 300ms;
    cursor: pointer;
}

.tarjeta:hover , .tarjeta2:hover, .tarjeta3:hover, .tarjeta4:hover{
    width: 500px;
}

.tarjeta  .fondo, .tarjeta2  .fondo2{
    width: 100%;
    height: 350px;
    position: relative;
    overflow: hidden;
}

.tarjeta3 .fondo3, .tarjeta4 .fondo4{
    width: 100%;
    height: 350px;
    position: relative;
    overflow: hidden;
}


.tarjeta .fondo img{
    width: 300px;
    display: block;
    margin: auto;
    position: relative;
    top: 69px;
    z-index: 1;
    filter: drop-shadow(5px 5px 4px rgba(0,0,0.5,1));
    transition: all 400ms;
}
.tarjeta2 .fondo2 img{
    width: 300px;
    display: block;
    margin: auto;
    position: relative;
    top: 69px;
    z-index: 1;
    filter: drop-shadow(5px 5px 4px rgba(0,0,0.5,1));
    transition: all 400ms;
}

.tarjeta3 .fondo3 img{
    width: 300px;
    display: block;
    margin: auto;
    position: relative;
    top: 69px;
    z-index: 1;
    filter: drop-shadow(5px 5px 4px rgba(0,0,0.5,1));
    transition: all 400ms;
}

.tarjeta4 .fondo4 img{
    width: 300px;
    display: block;
    margin: auto;
    position: relative;
    top: 69px;
    z-index: 1;
    filter: drop-shadow(5px 5px 4px rgba(0,0,0.5,1));
    transition: all 400ms;
}

.tarjeta:hover .fondo img{
    top: 20px;
    filter: none;
}

.tarjeta2:hover .fondo2 img{
    top: 20px;
    filter: none;
}

.tarjeta3:hover .fondo3 img{
    top: 20px;
    filter: none;
}

.tarjeta4:hover .fondo4 img{
    top: 20px;
    filter: none;
}


.tarjeta .img__fondo , .tarjeta2 .img__fondo{
    width: 100%;
    height: 280px;
    position: absolute;
    bottom: -80px;
    left: 0;
    background-size: cover;
    border-radius: 20px;
    transition: all 300ms;
}

.tarjeta3 .img__fondo , .tarjeta4 .img__fondo{
    width: 100%;
    height: 280px;
    position: absolute;
    bottom: -60px;
    left: 0;
    background-size: cover;
    border-radius: 20px;
    transition: all 300ms;
}

.tarjeta .img__fondo{
    background-image: url(../Imagenes/Fondo.jpeg);
}

.tarjeta2 .img__fondo{
    background-image: url(../Imagenes/Fondo.jpeg);
}

.tarjeta3 .img__fondo{
    background-image: url(../Imagenes/Fondo.jpeg);
}

.tarjeta4 .img__fondo{
    background-image: url(../Imagenes/Fondo.jpeg);
}

.tarjeta .description , .tarjeta2 .description, .tarjeta3 .description, .tarjeta4 .description{
    background: white;
    margin-top: -1px;
    padding: 25px;
    border-radius: 0px 0px 20px 20px;
    transition: all 300ms;
    height: 41vh;
}

.tarjeta .description h2 , .tarjeta2 .description h2, .tarjeta3 .description h2, .tarjeta4 .description h2{
    margin-top: 8px;
}

.tarjeta .description p, .tarjeta2 .description p, .tarjeta3 .description p, .tarjeta4 .description p{
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    border-bottom: 3px;
}

.tarjeta .description input , .tarjeta2 .description input, .tarjeta3 .description input, .tarjeta4 .description input{
    position: relative;
    padding: 14px 50px;
    margin-top: 30px;
    border: none;
    background: rgb(216,160,197);
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 8px;
    transition: all 300ms;
}

.tarjeta .description input:hover ,  .tarjeta2 .description input:hover, .tarjeta3 .description input:hover ,  .tarjeta4 .description input:hover{
    background: #83277b;
}

#barras:checked ~ .titulo{
    margin-top: 360px;
    transition: all 200ms;
}

.titulo .videoT .cortinaT .textoT h1{
    text-align: center;
}

@media screen and (max-width:700px) {
    
    .titulo .videoT .cortinaT{
        background-color: rgba(0, 0, 0, 40%);
    }

}